#joinAsStud {
    margin-right:50px ; 
}

#studentIcon{
    height:100px ; 
}

#instructorIcon {
    height : 180px ;
}

#signUpForm {
    margin-top:60px;
    width:80% ; 
}

.marg{
    margin-top:25px ;
}

